.pages-slider {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.pages-wrapper {
    height: 100%;
    transition: ease-out transform 400ms;
}

.pages-wrapper > section {
    height: 100%;
}

.pages-wrapper > section:first-child {
    background-color: darkseagreen;
}

.pages-wrapper > section:last-child {
    background-color: cadetblue;
}

.controls {
    position: fixed;
    right: 28px;
    display: flex;
    line-height: 37px;
    flex-direction: column;
    top: 50%;
    font-size: 60px;
    color: black;
}