html, body {
    overscroll-behavior: none;
}

.pages-slider {
    position: absolute;
    overflow: hidden;
    height: 100vh;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.pages-wrapper {
    height: 100%;
    transition: ease-out transform 400ms;
}

.pages-wrapper > section {
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.pages-wrapper > section:first-child {
    background-color: darkseagreen;
}

.pages-wrapper > section:nth-child(2) {
    background-color: lightcoral;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
}

.pages-wrapper > section:last-child {
    background-color: cadetblue;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 450px;
    background-color: #5d5454;
    min-width: 500px;
    flex: 1;
}