@import 'normalize.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pages-wrapper > section:first-child {
  background-color: darkseagreen;
  font-size: 1.2rem;
  padding: 50px;
  overflow: hidden;
}

.pages-wrapper > section:first-child > span {
  display: inline-block;
  max-width: 900px;
}

.pages-wrapper > section:nth-child(2) {
  padding: 40px 25px;
  background-color: lightslategray;
  gap: 22px;
  display: flex;
  flex-wrap: wrap;
}

.pages-wrapper > section > div {
  height: 500px;
  background-color: darkslategray;
  width: 400px;
  flex: 1 0 auto;
}